.cardHideOverflow {
   background-color: rgb(255, 255, 255);
   overflow: hidden;
}

.lookingForUnivCollaboratorCardImage {
   background: linear-gradient(rgba(255, 255, 255, 1),
         rgba(255, 255, 255, 0.6)),

      url(https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
   background-repeat: no-repeat;
   background-position: fixed;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
}

.PasteQCodeCardImage {
   background: linear-gradient(rgba(255, 255, 255, 1),
         rgba(255, 255, 255, 0.7)),

      url(https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
   background-repeat: no-repeat;
   background-position: fixed;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
}

.lookingForGovCollaboratorCardImage {
   background: linear-gradient(rgba(255, 255, 255, 1),
         rgba(255, 255, 255, 0.7)),

      url(https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80);
   background-repeat: no-repeat;
   background-position: fixed;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
}

.underConstructionCardImage {
   height: 100%;
   --blur-radius: 10px;
   filter: blur(var(--blur-radius));
   -webkit-filter: blur(var(--blur-radius));
   -moz-filter: blur(var(--blur-radius));
   -o-filter: blur(var(--blur-radius));
   -ms-filter: blur(var(--blur-radius));
   background: linear-gradient(rgba(255, 255, 255, 0.7),
         rgba(255, 255, 255, 0.7)),

      url(https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   display: flex;
   flex-direction: column;
}


.newFeaturesBanner {
   position: absolute;
   left: 50%;
   top: 50%;
   z-index: 2;
   text-align: center;
   transform: translate(-50%, -50%);
   background-color: rgba(255, 255, 255, 0.8);
   width: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
}

.card-no-border {
    border: none;
}